
span.selection-clickable-mode, span.boolean-clickable-mode {
    background-color: #7AFF00;
    color: white;
    padding: 4px;
}

span.selection-clickable-mode[data-value=disable], span.boolean-clickable-mode[data-value=false]{
    background-color: #ADADAD;
}

.openerp .oe_form_editable
.oe_form .oe_form_field_date:not(.oe_inline) input {
    width: 200px;
}