body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #FEF9F9
}

.container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /*padding-bottom: 50px;*/
}

.container > div {
    background-color: #fbf9fe
}

.hd {
    padding: 1em 0
}

.page_title {
    text-align: center;
    font-size: 34px;
    color: #611FC6;
    font-weight: 400;
    margin: 0 15%
}

.gooderp_login .page_title {
    padding: 1em 0;
}

.icon_default > i {
    background: url('default.png') no-repeat;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    display: block;
}

.enter {
    display: block !important;
    animation: slideIn .2s forwards;
}

.leave {
    display: none !important;
    animation: slideOut .25s forwards;
}

@keyframes slideIn {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.gooderp_tree_header {
    background: #A7A7A7;
    color: white;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.gooderp_tree_header > div {
    position: relative;
}

.gooderp_more {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    bottom: .8rem;
    right: .8rem;
    background: url('more.png') no-repeat;
    background-size: 16px 16px;
}

.gooderp_more.choosed {
    background: url('more-choosed.png') no-repeat;
    background-size: 16px 16px;
}

.gooderp_tree {
    margin-top: 0;
}

.gooderp_tree_row:nth-child(3n) {
    background-color: #F7F7F7;
}

.gooderp_tree .weui_cell_primary {
    width: 30%;
    overflow: hidden;
}

.gooderp_search {
    overflow: visible;
}

.gooderp_search_filter {
    background-color: #636363;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    font-size: 12px;
    padding: 5px 5px;
	box-shadow: #313131 0 1px 2px 0 inset;
}

.gooderp_filter_cancel_search {
    border-left: 1px solid #BBB;
    padding-left: .3rem;
}

.gooderp_cancel_search {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: .8rem;
    right: .7rem;
    background: url('delete.png') no-repeat;
    background-size: 24px 24px;
    zoom: .5;
}

.gooderp_search_results {
    margin-top: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #A7A7A7;
    color: white;
}

.gooderp_search_results > a:first-child {
    background-color: #6675E2;
}

.gooderp_fade-transition {
    transition: opacity .3s ease;
}

.gooderp_fade-enter {
    opacity: 0;
}

.gooderp_fade-leave {
    opacity: 0;
}

.weui_cell_ft:after {
    border-color: white !important;
}

.gooderp_search_operator {
    background-color: #636363;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
    padding: 5px 5px;
	box-shadow: #313131 0 1px 2px 0 inset;
}

.gooderp_operator_dialog > div {
    margin-top: 0;
}

.gooderp_tree_order {
    display: inline-block;
    position: absolute;
    right: 1rem;
    bottom: 2px;
    line-height: 1;
}

.asc .gooderp_tree_order_up {
    border-bottom-color: #444444;
}

.gooderp_tree_order_current .gooderp_tree_order_up,
.gooderp_tree_order_current .gooderp_tree_order_down {
    display: block;
}

.gooderp_tree_order_up {
    display: none;
    width: 0;
    height: 0;
    border-bottom: 8px solid #868686;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-bottom: 1px;
}

.desc .gooderp_tree_order_down {
    border-top-color: #444444;
}

.gooderp_tree_order_down {
    display: none;
    width: 0;
    height: 0;
    border-top: 8px solid #868686;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-top: 1px;
}

.gooderp_max_count {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 12px;
    transform: rotate(45deg);
    background-color: transparent !important;
}

.gooderp_max_count > span {
    transform: rotate(-45deg);
    display: inline-block;
}

.staggered-transition {
    transition: all .5s ease;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
}

.gooderp_tree_sequence {
    width: 10px;
}

.gooderp_form {
    margin-top: 0;
    background-color: #E2E2E2;
}

.gooderp_progress {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gooderp_wizard > .weui_dialog {
    top: 40%;
}

.gooderp_wizard .weui_cells {
    margin-top: 0;
}

.gooderp_wizard .weui_cell_hd,
.gooderp_wizard .weui_cell_bd {
    text-align: left;
    position: relative;
}

.gooderp_wizard .required {
    background: #D2D2FF;
}
.gooderp_many2oneInput {
    overflow-y: auto;
    max-height: 300px;
    position: fixed;
    max-width: 65%;
}

.gooderp_many2oneInput .weui_cell {
    /*padding: 4px 15px;*/
    font-size: 14px;
}

.gooderp_many2oneInput .weui_cell:before {
    left: 5px;
}

.gooderp_many2oneInput .weui_cell:first-child {
    background-color: #6675E2;
}

.gooderp_wizard_message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    background-color: #636363;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
	box-shadow: #313131 0 1px 2px 0 inset;
}

.display_message .show {
    display: inline-block;
}

.gooderp_tree_footer {
    background-color: #00BCD4;
    font-weight: bold;
    color: white;
}
