<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/favicon.ico">

    <title><% block title %><% endblock %></title>
    <link rel='stylesheet' href='/website_mshop/static/src/light7/css/light7.min.css'>
    <link rel='stylesheet' href='/website_mshop/static/src/light7/css/light7-extend.min.css'>
    <link rel='stylesheet' href='/gooderp_weixin/static/src/css/style.css' />
    <% block head %><% endblock %>

  </head>
  <body>
    <% block body %>
    <% endblock %>

    <% block script %>
    <script src="//cdn.bootcss.com/avalon.js/1.5.2/avalon.js"></script>
    <!-- Path to Framework7 Library JS-->
    <!-- <script type="text/javascript" src="/wechat/static/src/framework7/js/framework7.min.js"></script> -->
    <!-- Path to your app js-->
    <script type="text/javascript">
        define = null;
        require = null;
    </script>
     <script type="text/javascript" src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js'></script>

    <script type="application/javascript">
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '${appid}', // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: '${timestamp}', // 必填，生成签名的时间戳
            nonceStr: '${nonceStr}', // 必填，生成签名的随机串
            signature: '${signature}',// 必填，签名，见附录1
            jsApiList: ['getLocation'], // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
    </script>
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
    <!-- <script src="/website_mshop/static/src/js/debuggap.js" type="text/javascript"></script> -->

    <script type='text/javascript' src='/website_mshop/static/src/light7/js/light7.js' charset='utf-8'></script>
    <!--如果你用到了拓展包中的组件，还需要引用下面两个-->
    <script type='text/javascript' src='/website_mshop/static/src/light7/js/light7-extend.js' charset='utf-8'></script>
    <script type="text/javascript" src="/gooderp_weixin/static/src/js/my_app.js?v=2.2.00"></script>
    <% endblock %>
  </body>
</html>
