@media screen and (max-width: 800px) {
	.small_show {
		display:block;
	}

	.big_show {
		display:none;
	}
}

@media screen and (min-width:800px){
	.small_show {
		display:none;
	}
	
	.big_show {
		display:block;
	}
}